<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Trouble Schedule</title>
</head>
<body>
    <nav>
        <div id="nav">
            <button id="prevWeek">Prev</button>
            <span id="current-week">Aug 25 - 30</span>
            <button id="nextWeek">Next</button>
        </div>
    </nav>
    <section id="weekly-cal">
        <script src="/static/script.js"></script>
    </section>
</body>
</html>